.team-section {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
}

.team__item {
  background: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team__title {
  margin-bottom: 50px;
}
.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--Ð¼ain-color);
  margin-bottom: 10px;
}
.team__desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
